// * {
//     border: 1px solid red;
// }


.footerContainer {
    padding: 32px 24px 32px 24px;
    // margin: 0px 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .footerLogo {
      height: 52px;
    }

    .footerRight {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 300px;

        // Discord {
        //   &:hover {
        //     color:red;
        //     background-color: #01AEC4;
        //     cursor: pointer;
        //     transition: all 300ms ease-in-out;
        //   }
        // }

        .circleFooterLogo {
            &:hover {
              border-radius: 200px;
              background-color: #01adc466;
              cursor: pointer;
              transition: all 300ms ease-in-out;
          }
        }
    }


    .footerLeft {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 300px;
        gap: 16px;
    }
    


    Link {
        display: flex;
        justify-content: center;
        align-content: center;
    }


    ul {
        display: flex;
        flex-direction: row;
        padding: 0;
        list-style-type: none;
    }

}

@media only screen and (max-width: 800px) {

    .footerLogo {
      display: none;
    //   flex-direction: column;
    }
  }

  @media only screen and (max-width: 600px) {

    .footerContainer {
        display: flex;
        flex-direction: column;
    }

    .footerLeft {
      justify-content: center;
    }
  }



h3 {
    display: inline-block;
    vertical-align: middle;
}

.footerButton {
    // width: fit-content;
    background: none;
    border: 2px solid var(--light-yellow);
    border-radius: 12px;
    color: var(--light-yellow);
    line-height: 0px;
    text-transform: uppercase;
    font-size: 16px;
    text-align: left;
    text-decoration: none;
    padding: 0px 16px;
    height: 52px;
    transition: all 300ms ease-in-out;
    
      &:hover {
        color:black;
        background-color: var(--light-yellow);
        cursor: pointer;
        transition: all 300ms ease-in-out;
    }
  }


