.hero {
    height: calc(97vh - 192px);
    position: relative;
    overflow: hidden;


    @media only screen and (max-width: 1000px) {
        height: calc(68vh - 192px);
    } 

    @media only screen and (max-width: 725px) {
        height: 450px;
    } 

    @media only screen and (max-width: 500px) {
        height: 250px;
    } 

    .video-player {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -52%);
        min-width: 100%;
        max-height: 100%;

    }
}

.marquee {
    border-top: 1px solid #838383;
    border-bottom: 1px solid #838383;

    p {
        color: white;
        font-family: 'IBM Plex Mono', sans-serif;
        font-size: 21px;
        font-weight: 500;
        margin: 10px 20px;
        text-transform: uppercase;

        @media only screen and (max-width: 600px) {
            font-size: 16px;
        }            
    }
}

.info {
    padding: 80px 0 120px;

    p {
        color: white;
        font-weight: 300;
        margin: 0 auto;
        max-width: 900px;
        text-align: center;
        font-size: 24px;
        letter-spacing: 0.02em;
        text-transform: uppercase;

        @media only screen and (max-width: 600px) {
            padding: 0 2vw;
            font-size: 21px;
        } 

        span {
            font-weight: bold;
            color: #FCE986;
        }

        a {
            color: #01AEC4;
        }
    }

    .infoContainer {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 3vw;

        .mobileInfoHolder {
            position: relative;

            &::before {
                z-index: 100;
                position: absolute;
                top: 0; 
                left: 0;
                content: '';
                width: 15vw;
                height: 100%;
                background: linear-gradient(90deg, #0A0A0A 0%, rgba(10, 10, 10, 0) 100%);;
            }

            &::after {
                z-index: 100;
                position: absolute;
                top: 0; 
                right: 0;
                content: '';
                width: 15vw;
                height: 100%;
                background: linear-gradient(270deg, #0A0A0A 0%, rgba(10, 10, 10, 0) 100%);;
            }
        }

        .mySwiper {
            width: 100%;
            padding: 100px 0 0;

            .swiper-slide {
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
               color: white;
               width: 65vw !important;

               .infoSlide {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: absolute;

                    .number {
                        font-size: 72px;
                    }

                    .label {
                        text-transform: uppercase;
                        font-size: 18px;
                        font-weight: 300;
                        width: 150px;
                        text-align: center;
                    }
               }

               svg {
                   width: 65vw;
               }
            }
        }

        svg {
            width: 100%;
        }

        #desktopInfo {
            margin-top: 120px;
        }

        #tabletInfo {
            margin-top: 60px;
            padding: 0 3vw;
            box-sizing: border-box;
        }
    }
}

.countdown {
    height: 720px;
    text-align: center;
    color: white;
    overflow: hidden;

    .container {
        position: relative;
    }

    .videoHolder {
        position: absolute;
        overflow: hidden;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        max-height: 100%;

        &::after {
            content: '';
            height: 100%;
            width: 100%;
            position: absolute;
            background: radial-gradient(ellipse at 50%, transparent ,rgb(10, 10, 10) 70%);;
            top: 0; 
            left: 0;
        }
    }

    h2 {
        font-weight: 300;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        z-index: 10;
    }

    .container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }

    .yellow {
        color: #FCE986;
        font-size: 144px;
        line-height: 144px;

        @media only screen and (max-width: 1000px) {
            font-size: 120px;
            line-height: 120px;
        } 

        @media only screen and (max-width: 700px) {
            display: none;
        } 
    }

    .timer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 64px;
        z-index: 10;

        @media only screen and (max-width: 1000px) {
            gap: 36px;
        } 

        @media only screen and (max-width: 700px) {
            flex-direction: column;
            gap: 24px;
        } 

        .value {
            display: flex;
            flex-direction: column;
            gap: 24px;

            @media only screen and (max-width: 700px) {
                gap: 8px
            } 

            .number {
                font-size: 144px;
                line-height: 144px;

                @media only screen and (max-width: 1000px) {
                    font-size: 120px;
                    line-height: 120px;
                } 
            }
    
            .label {
                font-size: 24px;
                font-weight: 300;
                text-transform: uppercase;
                color: #01AEC4;

                @media only screen and (max-width: 900px) {
                    font-size: 21px;
                } 
            }
        }
    }
}

.completionist {
    font-size: 30px;
}

.ctaSection {
    .container {
        display: flex;
        flex-direction: column;
        gap: 96px;
    }

    h2 {
        text-align: center;
        color: white;
        font-size: 48px;
        text-transform: uppercase;
        font-weight: 400;
        margin: 0;
        margin-bottom: 30px;
    }

    form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-self: center;

        input {
            background: #FCE986;
            border: none;
            text-transform: uppercase;
            font-size: 24px;
            padding: 30px 96px;
            border-radius: 8px;
            font-weight: 500;
            transition: all 300ms ease-in-out;

            &:hover {
                background: var(--color-yellow-dark);
                transition: all 300ms ease-in-out;
                cursor: pointer;
            }
        }
    }

    .ctaSteps {
        display: flex;
        flex-direction: row;
        gap: 12px;
        align-items: center;
        justify-content: center;
        padding-bottom: 96px;

        #arrow {
            margin-top: -80px;
            flex-shrink: 3;
        }

        .step {
            text-align: center;
            color: white;
            text-transform: uppercase;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            align-self: stretch;
            gap: 24px;
            flex-grow: 5;

            svg {
                width: 160px;
                height: 160px;

                @media only screen and (max-width: 800px) {
                    width: 140px;
                    height: 140px;
                } 

                @media only screen and (max-width: 600px) {
                    width: 112px;
                    height: 112px;
                } 
            }

            p {
                margin: 0;
                font-size: 20px;

                @media only screen and (max-width: 600px) {
                    font-size: 16px;
                } 
            }
        }
    }
}

.divider {
    height: 16px;
    position: relative;
    overflow: hidden;

    svg {
        position: absolute;
        top: 7px;
    }

    .circle {
        position: absolute;
        height: 16px;
        width: 16px;
        border-radius: 8px;
        background: var(--color-yellow);
        flex-grow: 5;

        &.right {
            right: 0;
        }
    }
}
.hooks {
    color: white;

    .hookMain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;

        @media only screen and (max-width: 600px) {
            transform: scale(0.82);
        } 

        svg {
            z-index: 20;
        }

        .swiper {
            width: 100%;
            height: 500px;
        }
        
        .carouselHolder {
            position: absolute;
            width: 300px;
            z-index: 1;

            &::before {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                // background: ;
                background: linear-gradient(90deg, rgba(10, 10, 10, 1), rgba(10, 10, 10, 0) 50%, rgba(10, 10, 10, 1));
                z-index: 20;
            }

            .swiper-slide {
                height: 500px;
                display: flex;
                flex-direction: column;
                gap: 4px;
                justify-content: center;
                align-items: center;
                

                svg {
                    transform: scale(0.75);
                }

                h3 {
                    margin: 0;
                    text-transform: uppercase;
                    font-size: 16px;
                }
            }
        }
    }

    h2 {
        text-align: center;
        font-weight: 300;
        font-size: 30px;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        margin-bottom: 80px;
    }

    .hookItem {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        padding: 60px 0;

        @media only screen and (max-width: 600px) {
            grid-template-columns: 1fr;
        } 

        .text {
            height: 100%;

            .textAlign {
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h3 {
                    margin: 0 0 12px;
                    font-style: italic;
                    font-weight: 600;
                    font-size: 24px;
                    line-height: 30px;
                    text-transform: uppercase;
                }

                p {
                    margin: 0;
                    font-style: normal;
                    font-weight: 300;
                    font-size: 18px;
                    line-height: 150%;
                }
            }
        }

        .center {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            @media only screen and (max-width: 600px) {
                grid-row: 1;
            } 
            

            .circle {
                height: 300px;
                width: 300px;
                border-radius: 50%;
                border: 1px solid var(--color-teal);
                background: rgba(255, 255, 255, 0.04);
                box-sizing: border-box;
                backdrop-filter: blur(4px);
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    transform: scale(1.15);
                }
            }
        }
    }
}
