@import './custom-properties.scss';

html {
  font-family: var(--font-family-sans);
  font-size: var(--font-base-size);
  line-height: var(--font-base-line-height);
  font-weight: 400;
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-white);
  color: var(--color-black);
  margin: 0;
}

html,
body {
  height: 100%;
}

.navSpacer {
  padding-top: 160px;
  overflow: hidden;

  @media only screen and (max-width: 800px) {
    padding-top: 80px;
  } 
}
