:root {
  --light-yellow: #FCE986;
  --electric-blue: #01AEC4;
}

/* * {
  outline: solid 1px red;
} */

body { /*delete ASAP*/
  background: #0A0A0A;
}

// .buttonWrapper {
//   display:inline-block;
//   margin-right:5px;
// }

.peopleHeader {
  text-align: center;
  padding: 64px;
}

// .cardContainer {
//   display: grid;
//   gap: 30px;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-template-rows: 1fr 1fr 1fr;
//   // grid-template-areas:
//   //   " content1 content2 content3"
//   //   " content4 content5 content6"
//   //   " content7 content8 content9";
//   color: #fff;
//   text-align: left;
// }

.peopleCard {
  background-color: rgba(255, 255, 255, 0.228);
  border-radius: 0px 25px 25px 0px;
  // padding: 48px 64px 48px 64px;
}

.entireWrapperCards {
    display: flex;
    flex-direction: row;
}

.externalButton {
  background: none;
  border: 1px solid var(--electric-blue);
  border-radius: 8px;
  color: var(--electric-blue);
  text-transform: uppercase;
  font-size: 11px;
  text-align: left;
  text-decoration: none;
  padding: 8px 16px;
}

.profileHalf {
  height: 200px;
  width: 170px;
  overflow: hidden;
  border-radius: 25px 0px 0px 25px;
}

h1 {
  font-size: 56px;
  font-weight: 600;
  line-height: 0px;
  color: var(--light-yellow);
}

h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 0px;
  padding-bottom: 5%;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  color: #959595;
}

p {
  font-size: 16px;
  font-weight: 300;
  opacity: 100%;
  padding-bottom: 0%;
}

#content1 {
  grid-area: content1;
}

#content2 {
  grid-area: content2;
}

#content3 {
  grid-area: content3;
}

#content4 {
  grid-area: content4;
}

#content5 {
  grid-area: content5;
}

@media only screen and (max-width: 550px) {
  .cardContainer {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "content1"
      "content2"
      "content3"
      "content4"
      "content5";
  }
}
