// :root {
//   --light-yellow: #FCE986;
//   --electric-blue: #01AEC4;
// }

//  * {
//   outline: solid 1px red;
// } 

.peopleHeader {
  text-align: center;
  padding: 64px;
}

.cardContainer {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(3, 1fr);
}

.entireWrapperCards {
  display: flex;
  flex-direction: row;
}

.profileHalf {
  height: 200px;
  width: 150px;
  overflow: hidden;
  border-radius: 15px 0px 0px 15px;
}

.cardContent {
  padding-left: 8px;
  width: 204px;
  border-radius: 0px 15px 15px 0px;
  background-color: rgba(255, 255, 255, 0.05);
}


.externalButton {
  background: none;
  border: 1px solid var(--electric-blue);
  border-radius: 8px;
  color: var(--electric-blue);
  text-transform: uppercase;
  font-size: 11px;
  text-align: left;
  text-decoration: none;
  padding: 8px 4px;
  margin-right: 8px;
}



h1 {
  font-size: 56px;
  font-weight: 600;
  line-height: 0px;
  color: var(--light-yellow);
}

h2 {
  font-size: 32px;
  font-weight: 500;
  line-height: 0px;
  padding-bottom: 5%;
}

h3 {
  font-size: 24px;
  font-weight: 400;
  color: #959595;
}

p {
  font-size: 16px;
  font-weight: 300;
  opacity: 100%;
  padding-bottom: 2%;
}

// #content1 {
//   grid-area: content1;
// }

// #content2 {
//   grid-area: content2;
// }

// #content3 {
//   grid-area: content3;
// }

// #content4 {
//   grid-area: content4;
// }

// #content5 {
//   grid-area: content5;
// }

// @media only screen and (max-width: 550px) {
//   .cardContainer {
//     grid-template-columns: auto;
//     grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
//     grid-template-areas:
//       "content1"
//       "content2"
//       "content3"
//       "content4"
//       "content5";
//   }
// }
