.schedule {
    color: white;
    border: 1px #838383 solid;
    border: 24px;
    margin-top: 48px;

    .container {
        border: 1px #838383 solid;
        border-radius: 24px;
        padding: 2em;

        @media only screen and (max-width: 1200px) {
            margin: 0 2em;
        }

        @media only screen and (max-width: 600px) {
            padding: 0;
            border: none
        }
        
        .scheduleControls {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 48px;

            @media only screen and (max-width: 600px) {
                justify-content: center;
            }

            ul {
                display: flex;
                flex-direction: row;
                margin: 0;
                padding: 0;
                cursor: pointer;
                
                li {
                    list-style: none;
                    width: 172px;
                    transition: all 400ms cubic-bezier(0.76, 0, 0.24, 1);

                    &:hover {
                        background: var(--color-yellow-dark);
                        color: #0A0A0A;
                        transition: all 400ms cubic-bezier(0.76, 0, 0.24, 1);
                    }

                    &.active {
                        background: #FCE986;
                        color: #0A0A0A;
                        transition: all 400ms cubic-bezier(0.76, 0, 0.24, 1);

                        &:hover {
                            background: var(--color-yellow-dark);
                            color: #0A0A0A;
                            transition: all 400ms cubic-bezier(0.76, 0, 0.24, 1);
                        }
                    }

                    &.activeRight {
                        border-radius: 0px 10px 10px 0px;
                        // cursor: not-allowed;

                        &:hover {
                            // background: #555;
                            background: var(--color-yellow-dark);
                            color: #0A0A0A;
                            transition: all 400ms cubic-bezier(0.76, 0, 0.24, 1);
                        }
                    }

                    &.activeLeft {
                        border-radius: 10px 0 0 10px;
                    }
                }
            }

            .controlHolder {
                border-radius: 10px;
                border: 1px solid #838383;
            }

            .controls {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin: 0;
                font-size: 14px;
                padding: 8px 0;
                font-family: 'IBM Plex Mono', sans-serif;
                text-transform: uppercase;
            }

            .filter {
                width: 272px;
            }
        }
    }  
}
.sessionsSchedule {
    .sessionsTitle {
        font-weight: 400;
        margin-bottom: 8px;
    }

    .filterHolder {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 12px;
        margin-bottom: 8px;

        .select {
            display: flex;
            align-items: center;

            &::before {
                content: "";
                position: relative;
                left: 12px;
                width: 12px;
                height: 16px;
                background-image: url('../assets/img/arrow.png');
            }
        }

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            color: white; 
            text-transform: uppercase;
            padding: 14px 16px 14px 32px;
            border-radius: 10px;
            background: #191919;
            font-size: 14px;
            border: none;
            cursor: pointer;
            margin-left: -12px;

            option {
                
                appearance: none;
            }
        }

        .filterTab {
            box-sizing: border-box !important;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            line-height: 14px;
            padding: 10px 16px;
            border-radius: 10px;
            background: #191919;
            font-size: 14px;
            cursor: pointer;
            transition: all 100ms ease-in;
            border: 2px solid #191919;

            p {
                margin: 0;
            }

            &:hover {
                transition: all 300ms ease-in;
                border: 2px solid #555;
            }

            &.active {
                transition: all 100ms ease-in;
                border: 2px solid var(--color-yellow);

                &:hover {
                    transition: all 300ms ease-in;
                    border: 2px solid var(--color-yellow-dark);
                }
            }
        }
    }
}


.sessionsGroup {
    margin-top: 48px;

    .groupLabel {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        margin-bottom: 24px;
         
        h3 {
            font-size: 24px;
            font-weight: 300;
            margin: 0;
        }

        .line {
            height: 1px;
            background: white;
            flex-grow: 5;
        }
    }
}

.sessionsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;

    @media only screen and (max-width: 1000px) {
        grid-template-columns: 1fr 1fr;
    }

    @media only screen and (max-width: 650px) {
        grid-template-columns: 1fr;
    }

    .sessionsCard {
        background: #161616;
        border-radius: 12px;
        text-decoration: none;
        color: white;
        transition: all 300ms ease-out;
        display: flex;
        flex-direction: column;

        &:hover {
            transition: all 300ms ease-out;
            transform: scale(1.02);

            .sessionsHero {
                .imageHover {
                    visibility: visible;
                    opacity: 1;
                    transition: all 300ms ease-out;

                    .imageButton {
                        visibility: visible;
                        opacity: 1;
                        transition: all 300ms ease-out;
                        transition-delay: 150ms;

                    }
                }
            }
        }

        .sessionsHero {
            position: relative;

            &:hover {
                cursor: pointer;

                .imageButton {
                    color: black !important;
                    background: var(--color-yellow);
                    transition: all 300ms ease-in-out;
                }
            }

            .imageHover {
                visibility: hidden;
                opacity: 0;
                position: absolute;
                width: 100%;
                height: 200px;
                z-index: 20;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba(0,0,0,0.6);
                transition: all 300ms ease-out;

                .imageButton {
                    visibility: hidden;
                    opacity: 0;
                    color: var(--color-yellow);
                    border: solid 2px var(--color-yellow);
                    padding: 8px 32px;
                    border-radius: 12px;
                    transition: all 300ms ease-in-out;
                }
            }

            .heroImage {
                height: 200px;
                background-size: cover;
                border-radius: 12px 12px 0 0;
    
                img {
                    border-radius: 12px 12px 0 0;
                }
            }
        }
        

        .cardContent {
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-grow: 5;
            gap: 12px;

            .mainContent {
                flex-grow: 5;
            }

            a {
                color: white;
                text-decoration: none;
            }

            h4, p, div {
                margin: 0;
                padding: 0;
            }

            h4 {
                font-size: 21px;
                margin-bottom: 8px;
            }

            .difficulty {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                margin-bottom: 8px;

                .difficultyCircles {
                    display: flex;
                    flex-direction: row;
                    gap: 4px;

                    span {
                        height: 10px;
                        width: 10px;
                        border-radius: 5px;
                        background: #333333;

                        &.active {
                            background: var(--color-yellow);
                        }
                    }
                }

                .difficultyText {
                    font-weight: 300;
                }
            }

            .timeLocation {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                gap: 12px;
                font-weight: 300;
                color: #01AEC4;
                margin-bottom: 8px;
            }

            .description {
                margin-bottom: 16px;
                font-size: 14px;
                font-weight: 300;
            }

            .cardButtons {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 12px;
                text-align: center;

                a {
                    border: 1px solid #01AEC4;
                    color: #01AEC4;
                    font-weight: 300;
                    background: none;
                    border-radius: 8px;
                    padding: 12px 20px;
                    text-decoration: none;
                    transition: all 350ms ease-in-out;
                    z-index: 20;

                    &:hover {
                        transition: all 350ms ease-in-out;
                        background: #01AEC4;
                        color: #fff;
                    }

                    &:not([href]) {
                        cursor: not-allowed
                    }
                }
            }
        }
    }
}

.scheduleGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    @media only screen and (max-width: 800px) {
        display: flex;
        flex-direction: column;
    }

    .scheduleCard {
        background: rgba(255, 255, 255, 0.05);
        min-height: 300px;
        border-radius: 10px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // justify-content: center;
        align-items: start;

        &.big {
            grid-column-start: span 2;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;

            @media only screen and (max-width: 800px) {
                display: flex;
                flex-direction: column-reverse;
            }

            .content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                // justify-content: center;
                align-items: start;
                height: 100%;
            }

            .graphic {
                height: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                @media only screen and (max-width: 800px) {
                    width: 100%;
                }

                svg {
                    max-width: 100%;
                    height: 250px;
                }
            }
        }

        h3, h4, p, div {
            margin: 0;
        }

        h3 {
            font-weight: medium;
            font-size: 40px;
            line-height: 52px;
        }

        h4 {
            font-weight: 300;
            font-size: 20px;
            color: var(--color-yellow);
            margin-bottom: 20px;
        }

        p {
            font-weight: 300;
        }

        .midpoint {
            margin-top: 12px;
            font-weight: 500;
            color: var(--color-yellow)
        }

        .dateButton {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0 16px;
            height: 40px;
            border: 1px solid var(--color-teal);
            color: var(--color-teal);
            font-weight: 300;
            border-radius: 8px;
            margin-top: 24px;
        }
    }
}