.schedule {
    color: white;
    border: 1px #838383 solid;
    border: 24px;

    .container {
        border: 1px #838383 solid;
        border-radius: 24px;
        padding: 2em;
        
        .scheduleControls {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 48px;

            ul {
                display: flex;
                flex-direction: row;
                margin: 0;
                padding: 0;
                
                li {
                    list-style: none;
                    width: 172px;
                    transition: all 400ms cubic-bezier(0.76, 0, 0.24, 1);

                    &:hover {
                        background: var(--color-yellow-dark);
                        color: #0A0A0A;
                        transition: all 400ms cubic-bezier(0.76, 0, 0.24, 1);
                    }

                    &.active {
                        background: #FCE986;
                        color: #0A0A0A;
                        transition: all 400ms cubic-bezier(0.76, 0, 0.24, 1);

                        &:hover {
                            background: var(--color-yellow-dark);
                            color: #0A0A0A;
                            transition: all 400ms cubic-bezier(0.76, 0, 0.24, 1);
                        }
                    }

                    &.activeRight {
                        border-radius: 0px 10px 10px 0px;
                    }

                    &.activeLeft {
                        border-radius: 10px 0 0 10px;
                    }
                }
            }

            .controlHolder {
                border-radius: 10px;
                border: 1px solid #838383;
            }

            .controls {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin: 0;
                font-size: 14px;
                padding: 8px 0;
                font-family: 'IBM Plex Mono', sans-serif;
                text-transform: uppercase;
            }

            .filter {
                width: 272px;
            }
        }
    }  
}
.sessionsSchedule {
    .sessionsTitle {
        font-weight: 400;
        margin-bottom: 8px;
    }

    .filterHolder {
        display: flex;
        flex-direction: row;
        gap: 12px;
        margin-bottom: 8px;

        .select {
            display: flex;
            align-items: center;

            &::before {
                content: "";
                position: relative;
                left: 12px;
                width: 12px;
                height: 16px;
                background-image: url('../assets/img/arrow.png');
            }
        }

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            color: white; 
            text-transform: uppercase;
            padding: 14px 16px 14px 32px;
            border-radius: 10px;
            background: #191919;
            font-size: 14px;
            border: none;
            cursor: pointer;
            margin-left: -12px;

            option {
                
                appearance: none;
            }
        }

        .filterTab {
            box-sizing: border-box !important;
            text-transform: uppercase;
            padding: 10px 16px;
            border-radius: 10px;
            background: #191919;
            font-size: 14px;
            cursor: pointer;
            transition: all 100ms ease-in;
            border: 2px solid #191919;

            &:hover {
                transition: all 300ms ease-in;
                border: 2px solid #555;
            }

            &.active {
                transition: all 100ms ease-in;
                border: 2px solid var(--color-yellow);

                &:hover {
                    transition: all 300ms ease-in;
                    border: 2px solid var(--color-yellow-dark);
                }
            }
        }
    }
}


.sessionsGroup {
    margin-top: 48px;

    .groupLabel {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;
        margin-bottom: 24px;
         
        h3 {
            font-size: 24px;
            font-weight: 300;
            margin: 0;
        }

        .line {
            height: 1px;
            background: white;
            flex-grow: 5;
        }
    }
}

.sessionsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;

    .sessionsCard {
        background: #161616;
        border-radius: 12px;
        text-decoration: none;
        color: white;
        transition: all 300ms ease-out;

        &:hover {
            transition: all 300ms ease-out;
            transform: scale(1.02);
        }

        .heroImage {
            height: 200px;
            background-size: cover;
            border-radius: 12px 12px 0 0;
        }

        .cardContent {
            padding: 20px;

            h4, p, div {
                margin: 0;
                padding: 0;
            }

            h4 {
                font-size: 21px;
                margin-bottom: 8px;
            }

            .difficulty {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                margin-bottom: 8px;

                .difficultyCircles {
                    display: flex;
                    flex-direction: row;
                    gap: 4px;

                    span {
                        height: 10px;
                        width: 10px;
                        border-radius: 5px;
                        background: #333333;
                    }
                }

                .difficultyText {
                    font-weight: 300;
                }
            }

            .timeLocation {
                display: flex;
                flex-direction: row;
                gap: 20px;
                font-weight: 300;
                color: #01AEC4;
                margin-bottom: 8px;
            }

            .description {
                margin-bottom: 16px;
                font-size: 14px;
                font-weight: 300;
            }

            .cardButtons {
                display: flex;
                flex-direction: row;
                gap: 12px;

                button {
                    border: 1px solid #01AEC4;
                    color: #01AEC4;
                    font-weight: 300;
                    background: none;
                    border-radius: 8px;
                    padding: 12px 20px;
                }
            }
        }
    }
}

.scheduleGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    .scheduleCard {
        background: rgba(255, 255, 255, 0.05);
        height: 300px;
        border-radius: 10px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;

        &.big {
            grid-column-start: span 2;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 30px;

            .content {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: start;
                height: 100%;
            }
        }

        h3, h4, p, div {
            margin: 0;
        }

        h3 {
            font-weight: medium;
            font-size: 40px;
            line-height: 52px;
        }

        h4 {
            font-weight: 300;
            font-size: 20px;
            color: var(--color-yellow);
            margin-bottom: 20px;
        }

        p {
            font-weight: 300;
        }

        .midpoint {
            margin-top: 12px;
            font-weight: 500;
            color: var(--color-yellow)
        }

        .dateButton {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 0 16px;
            height: 40px;
            border: 1px solid var(--color-teal);
            color: var(--color-teal);
            font-weight: 300;
            border-radius: 8px;
        }
    }
}