.schedule {
    color: white;

    .container {
        .scheduleControls {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 72px;

            ul {
                display: flex;
                flex-direction: row;
                margin: 0;
                padding: 0;
                
                li {
                    list-style: none;
                    width: 172px;
                    transition: all 400ms cubic-bezier(0.76, 0, 0.24, 1);

                    &:hover {
                        background: var(--color-yellow-dark);
                        color: #0A0A0A;
                        transition: all 400ms cubic-bezier(0.76, 0, 0.24, 1);
                    }

                    &.active {
                        background: #FCE986;
                        color: #0A0A0A;
                        transition: all 400ms cubic-bezier(0.76, 0, 0.24, 1);

                        &:hover {
                            background: var(--color-yellow-dark);
                            color: #0A0A0A;
                            transition: all 400ms cubic-bezier(0.76, 0, 0.24, 1);
                        }
                    }

                    &.activeRight {
                        border-radius: 0px 10px 10px 0px;
                    }

                    &.activeLeft {
                        border-radius: 10px 0 0 10px;
                    }
                }
            }

            .controlHolder {
                border-radius: 10px;
                border: 1px solid #838383;
            }

            .controls {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin: 0;
                font-size: 14px;
                padding: 12px 0;
                font-family: 'IBM Plex Mono', sans-serif;
                text-transform: uppercase;
            }

            .filter {
                width: 272px;
            }
        }
    }  
}

.sessionsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 32px;

    .sessionsCard {
        background: #161616;
        border-radius: 12px;

        .heroImage {
            height: 200px;
            background-size: cover;
            border-radius: 12px 12px 0 0;
        }

        .cardContent {
            padding: 20px;

            h4, p, div {
                margin: 0;
                padding: 0;
            }

            h4 {
                font-size: 21px;
                margin-bottom: 8px;
            }

            .difficulty {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
                margin-bottom: 8px;

                .difficultyCircles {
                    display: flex;
                    flex-direction: row;
                    gap: 4px;

                    span {
                        height: 10px;
                        width: 10px;
                        border-radius: 5px;
                        background: #333333;
                    }
                }

                .difficultyText {
                    font-weight: 300;
                }
            }

            .timeLocation {
                display: flex;
                flex-direction: row;
                gap: 20px;
                font-weight: 300;
                color: #01AEC4;
                margin-bottom: 8px;
            }

            .description {
                margin-bottom: 16px;
                font-size: 14px;
                font-weight: 300;
            }

            .cardButtons {
                display: flex;
                flex-direction: row;
                gap: 12px;

                button {
                    border: 1px solid #01AEC4;
                    color: #01AEC4;
                    font-weight: 300;
                    background: none;
                    border-radius: 8px;
                    padding: 12px 20px;
                }
            }
        }
    }
}